*.swp

*.o
*.a

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

client/mysql
client/mysql_config_editor
client/mysql_plugin
client/mysql_upgrade
client/mysqladmin
client/mysqlbinlog
client/mysqlcheck
client/mysqldump
client/mysqlimport
client/mysqlshow
client/mysqlslap
client/mysqltest
extra/comp_err
extra/innochecksum
extra/my_print_defaults
extra/mysql_waitpid
extra/perror
extra/replace
extra/resolve_stack_dump
extra/resolveip
libmysql/libmysqlclient.so.18
libmysql/libmysqlclient.so.18.1.0
libmysql/libmysqlclient_r.so.18
libmysql/libmysqlclient_r.so.18.1.0
libmysqld/examples/mysql_client_test_embedded
libmysqld/examples/mysql_embedded
libmysqld/examples/mysqltest_embedded
mysql-test/lib/My/SafeProcess/my_safe_process
mysys/queues
mysys/thr_lock
regex/re
scripts/comp_sql
sql/gen_lex_hash
sql/mysql_tzinfo_to_sql
sql/mysqld
sql/share/english/errmsg.sys
storage/aby/hpa_aby_test1
storage/aby/hpa_aby_test2
storage/heap/hp_test1
storage/heap/hp_test2
storage/myisam/myisam_ftdump
storage/myisam/myisamchk
storage/myisam/myisamlog
storage/myisam/myisampack
storage/perfschema/gen_pfs_lex_token
storage/perfschema/unittest/pfs-t
storage/perfschema/unittest/pfs_account-oom-t
storage/perfschema/unittest/pfs_connect_attr-t
storage/perfschema/unittest/pfs_host-oom-t
storage/perfschema/unittest/pfs_instr-oom-t
storage/perfschema/unittest/pfs_instr-t
storage/perfschema/unittest/pfs_instr_class-oom-t
storage/perfschema/unittest/pfs_instr_class-t
storage/perfschema/unittest/pfs_user-oom-t
tests/bug25714
tests/mysql_client_test
unittest/examples/no_plan-t
unittest/examples/simple-t
unittest/examples/skip-t
unittest/examples/skip_all-t
unittest/examples/todo-t
unittest/mytap/t/basic-t


Docs/INFO_BIN
storage/aby/CMakeFiles/aby.dir/C.includecache
storage/aby/CMakeFiles/aby.dir/CXX.includecache
storage/aby/CMakeFiles/aby_embedded.dir/C.includecache

cmd-line-utils/libedit/common.h
cmd-line-utils/libedit/emacs.h
cmd-line-utils/libedit/fcns.c
cmd-line-utils/libedit/fcns.h
cmd-line-utils/libedit/help.c
cmd-line-utils/libedit/help.h
cmd-line-utils/libedit/vi.h
include/mysqld_error.h
libmysql/mysqlclient_depends.c
libmysqld/mysqlserver_depends.c
scripts/mysql_fix_privilege_tables_sql.c
sql/lex_hash.h
sql/sql_yacc.cc
sql/sql_yacc.h
storage/perfschema/pfs_lex_token.h

storage/aby/CMakeFiles/aby_embedded.dir/CXX.includecache
tags
storage/aby/CMakeFiles/hpa_aby_test2.dir/C.includecache
storage/aby/tags
